<?xml version="1.0"?>
<configuration>
    <!-- mybatis 数据源环境配置 -->
    <environments default="dev">
        <environment id="dev">
            <!-- 配置数据源信息 -->
            <dataSource type="DBCP">
                <property value="mysql" name="password"/>
                <property value="com.mysql.jdbc.Driver" name="driver"/>
                <property value="jdbc:mysql://localhost:3306/mybatis_learn" name="url"/>
                <property value="root" name="username"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 映射文件加载 -->
    <mappers>
        <!-- resource指定映射文件的类路径 -->
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>